@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800');
@font-face { font-family: "Ionicons"; src: url("../fonts/ionicons.eot?v=2.0.0"); src: url("../fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("../fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("../fonts/ionicons.woff?v=2.0.0") format("woff"), url("../fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg"); font-weight: normal; font-style: normal; }
@import "normalize.css";
@import "slick-theme.css";
@import "slick.css";

$op-font: 'Open Sans', Arial, sans-serif;
.container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  //font-size: 0;
}

/*styles for header*/
.header {
  width: 100%;
  height: 100px;
  background: #ffffff;
}

.header__logo, .wrapper-menu {
  display: inline-block;
}

.header__logo {
  float: left;
  margin-left: 120px;
  margin-top: 30px;
}

.wrapper-menu {
  float: right;
  height: 100%;
}

.header__menu {
  font-size: 0;
  list-style: none;
  padding: 0;
  height: 100%;
  margin-right: 120px;
  .menu__item {
    display: inline-block;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
    width: 85px;
    height: 100%;
  }
  .item__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: $op-font;
    color: #484c55;
    font-size: 15px;
    font-weight: 400;
    line-height: 87px;
    text-align: center;
    text-decoration: none;
  }
}

.menu__item {
  &:hover {
    border-bottom-color: #49cbcd;
    background-color: #f8f9fb;
    & .item__link {
      color: #49cbcd;
    }
  }
}

//styles for slider
.slider {
  width: 100%;
  //height: auto;
}

.slider__content {
  background: #a4dfd8 url("../img/slider-content.jpg") no-repeat;
  background-size: cover;
  text-align: center;
}

.content__title {
  font-family: $op-font;
  color: #ffffff;
  font-size: 63px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
  margin: 140px auto 40px;
}

.content__txt {
  display: block;
  font-family: $op-font;
  color: #ffffff;
  font-size: 23px;
  font-weight: 400;
  line-height: 37px;
  text-align: center;
  max-width: 375px;
  margin: 0 auto;
}

.content__more {
  display: inline-block;
  border-radius: 3px;
  border-style: solid;
  border-width: 3px;
  border-color: #ffffff;
  background-color: rgba(73, 203, 205, 0);
  width: 231px;
  height: 69px;
  font-family: $op-font;
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
  line-height: 63px;
  text-align: center;
  text-decoration: none;
  margin: 65px 0 160px;
  &:hover {
    box-shadow: 5px 5px 10px 0 #ffffff;
  }
}

.slick-next, .slick-prev {
  z-index: 2;
  width: 51px;
  height: 51px;

}

.slick-next:before, .slick-prev:before {
  display: inline-block;
  content: '';
  border-radius: 50%;
  background-color: #fefefe;
  width: 51px;
  height: 51px;
}

.slick-next:before {
  background-image: url('../img/arrow-right.png');
  background-position: center;
  background-repeat: no-repeat;
}

.slick-prev:before {
  background-image: url('../img/arrow-left.png');
  background-position: center;
  background-repeat: no-repeat;
}

.slick-next {
  right: 30px;

}

.slick-prev {
  left: 30px;
}

//styles for slider
// styles for block "team"
.team {
  font-size: 0;
  padding: 100px 130px 0;
  box-sizing: border-box;
}

.team__person {
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
  padding: 0 25px;
  &:nth-child(3) {
    & .person__view {
      background-image: url('../img/add.png');
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.team__title {
  margin: 0 auto 70px;
  font-family: $op-font;
  color: #4e525d;
  font-size: 42px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}

.person__view {
  border-radius: 50%;
  background-color: #eeeef0;
  width: 201px;
  height: 201px;
  margin: 70px auto;

}

.person__name {
  display: block;
  font-family: $op-font;
  color: #4e525d;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.person__position {
  display: block;
  font-family: $op-font;
  color: #4e525d;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.person__description {
  display: block;
  font-family: $op-font;
  color: #4e525d;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 30px auto 50px;
}

// styles for block "team"
// styles for block "offers"
.offers {
  background: #f1f1f1;
  padding: 120px 130px 100px;
  font-size: 0;
  box-sizing: border-box;
}
.offers__plan {
  display: inline-block;
  width: 31.5%;
  text-align: center;
  &:nth-child(2){
    margin: 0 2.75%;
  }

}
.plan__title {
  font-family: $op-font;
  color: #ffffff;
  font-size: 26px;
  font-weight: 400;
  line-height: 75px;
  text-align: center;
  background: #485460;
  margin: 0;
  height: 75px;
}
.plan__price {
  display: inline-block;
  width: 100%;
  height: 70px;
  font-family: $op-font;
  color: #485460;
  font-size: 20px;
  font-weight: 400;
  line-height: 70px;
  text-align: center;
  background: #f8f9fb;
}
.plan__options {
  list-style: none;
  padding: 0;
}
.option {
  font-family: $op-font;
  color: #8c9299;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  background: #ffffff;
  border-top:  1px solid #ecf0f1;
  border-bottom:  1px solid #ecf0f1;
  width: 100%;
  height: 50px;
}
.select {
  background: #f8f9fb;
  width: 100%;
  height: 100px;
  &:before {
    display: inline-block;
    content: '';
    height: 100px;
    vertical-align: middle;
  }
}
.select__btn {
  border-radius: 3px;
  background-color: #788492;
  width: 170px;
  height: 40px;
  font-family: $op-font;
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  border: none;
  padding: 0;
  outline: none;
  vertical-align: middle;
  &:hover {
    background-color: #49cbcd;
  }
}
// styles for block "offers"
// styles for block "contact"
.contact {
  background: #181818 url("../img/contact-us-bg.png") no-repeat;
  background-size: cover;
  padding: 100px 130px 0;
  box-sizing: border-box;
  font-size: 0;
}
.contact__title {
  font-family: $op-font;
  color: #ffffff;
  font-size: 42px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 0 auto 100px;
}
.info, .form {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
}
.info__title {
  font-family: $op-font;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.info__txt {
  font-family: $op-font;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.info__social {
  font-family: Ionicons;
  font-size: 0;
}
.social__fb, .social__tw, .social__gplus {
  display: inline-block;
  font-size: 23px; /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 42px; /* Приближение из-за подстановки шрифтов */
  text-align: center;
  border-radius: 50%;
  background-color: #3b5997;
  width: 42px;
  height: 42px;
  & a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;

  }
  &:hover {
    transform: scale(1.1);
  }
}
.social__fb {
  background-color: #3b5997;
}
.social__tw {
  background-color: #3ec2f3;
}
.social__gplus {
  background-color: #e44c41;
}
.info__copyright {
  font-family: $op-font;
  color: #bface2;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.form {
  font-size: 0;
}
.form__name, .form__email, .form__massage {
  padding-left: 15px;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #ffffff;
  font-family: $op-font;
  color: #c1c1c1;
  font-size: 16px; /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 24px; /* Приближение из-за подстановки шрифтов */
  text-align: left;
  border: none;
  outline: none;
}
.form__name {
  margin-right: 4%;
  width: 48%;
  height: 44px;
}
.form__email {
  width: 48%;
  height: 44px;
}
.form__massage {
  margin-top: 25px;
  width: 100%;
  resize: none;
  min-height: 180px;
}
// styles for block "contact"